.box {
  background-color: #E29C58;
  padding: 1rem;
  border-radius: 3px;
  display: grid;
}

.outside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}
