body {
  background-color: #222;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #73FBD3;
}

a:active {
  color: #EF709D;
}

.main {
  margin: 0 auto;
  max-width: 960px;
  padding: 2rem 1rem;
}

.logo {
  font-size: 1.5rem;
}

.header {
  display: flex;
  flex-flow: row wrap;
}

.nav {
  list-style: none;
  font-size: 1rem;
  margin-left: auto;
}
